<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="language" content="Spanish">
    <meta name="author" content="Javier Girón López">
    <meta name="Description" content="Practice corresponding to the Fundamentals Backend, Node.js & MongoDB module"> 
    <title><%= title %></title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <link rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.ico">
    
  </head>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="/"><%= title %></a>

        <% getLocales().forEach(locale =>{ %>
            <a class="nav-link me-lg-3" href="/change-locale/<%= locale %>"><%= locale %></a>&nbsp;
        <% })%>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" href="/features"><%= __('Features') %></a></li>
                % if (session.usuarioLogado) { %>
                    <li class="nav-item"><a class="nav-link me-lg-3" href="/privado"><%= __('Private') %></a></li>
                % } %>
                </ul>
            % if (session.usuarioLogado) { %>
                <a href="/logout" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">
                    <span class="d-flex align-items-center">
                        <span class="small"><%= __('Logout') %></span>
                    </span>
                </a>
            % } else { %>
                <a href="/login" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">
                    <span class="d-flex align-items-center">
                        <span class="small"><%= __('Login') %></span>
                    </span>
                </a>
            % } %>
            </div>
    </div>
</nav>
<header>
        <p><%= __('Welcome to') %> <%= title %></p>
</header>