<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="language" content="Spanish">
    <meta name="author" content="Javier Girón López">
    <meta name="Description" content="Practice corresponding to the Advanced Backend, Node.js & MongoDB module"> 
    <title><%= title %></title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <link rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.ico">
    
  </head>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="/"><%= title %></a>

        <% getLocales().forEach(locale =>{ %>
            <a class="nav-link me-lg-3" href="/change-locale/<%= locale %>"><%= locale %></a>&nbsp;
        <% })%>
    </div>
</nav>
<header>
        <p><%= __('Welcome to') %> <%= title %></p>
</header>